<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VehiRent{% endblock %}</title>

    <!-- Load static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentals/styles.css' %}">
</head>
<body class="bg-dark">

    <header class="navbar-container">
        <nav class="navbar">
            <h1 class="brand"><a href="{% url 'home' %}">VehiRent</a></h1>
            <!-- Toggle Button for Mobile -->
            <ul class="nav-links">
                <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                <li><a href="{% url 'vehicle_list' %}" class="nav-link">Vehicles</a></li>
                <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    

    <!-- Main Content Section -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 VehiRent</p>
    </footer>

    <!-- Add JavaScript -->
</body>
</html>
